html {
  padding: 0;
  margin: 0;
}
body {
    background-color: rgb(104, 5, 104);
    height: 1900px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: #cac2c235 ;
    height: 26px;
    
}
.h1 {
    font-size: 1.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-top: 0.1em;
}

.imgs-iniciais {
  background-color: rgba(255, 250, 205, 0);
  height: 500px; 
}

.pacote-fulstack {
 padding: 0px;
 margin-left: 250px;
 margin-top: 120px;
}

.class-seta {
  background-color: rgba(160, 215, 22, 0);
  height: 100%; 
}


.seta {
  margin-top: -120px;
  margin-left: 950px;
}

#video-apresentacao {
  padding-bottom: 60px;
  background-color: rgba(255, 99, 71, 0);
}

.video {
  background-color:rgb(0, 0, 0);
  float: right;
  box-shadow: 0 0 2em rgb(22, 22, 22);
}

.tela-comprar {
  background: url("https://i.pinimg.com/736x/9e/54/6e/9e546e513121d7131192f1ac1ac45e6e--samsung.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-backgrounde-size: cover;
  background-size: cover;  
  height: 570px;
  box-shadow:  inset 0 10px 20px -5px rgb(58, 58, 58);
}

.img-logo2 {
  margin-top: 150px;
  margin-left: 530px;
}

.text-box2 {
  margin-left: 35vw;
  margin-top: -3vh;
}

#cartoes2 {
  width: 600px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50em;
  position: relative;
  top: 180px;
  left: 400px;
}

#cartoes2 img{
  height: 30px;
  width: 550px;
  margin-left: 20px;
  margin-top: 10px;
}

.contatos {
  height: 40px;
  background-color: rgb(163, 183, 197);
}

#botoes {
  height: 100%;
}

.foto-facebook {
 margin-top: -5px;
}

.foto-instragram {
  margin-top: 0;
}

.foto-twiter {
 margin-top: -5px;
}

.foto-whatsapp {
 margin-top: 0;
}

.email {
  margin-top: -5px;
}

.foto-email {
 margin-top: -5px;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

#Mainslide .corousel-inner, #Mainslide .carousel-item {
  height: 90vh;
}

#Mainslide .carousel-caption {
 top: 30%;
}

#Mainslide .carousel-caption h2 {
  font-size: 50px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 7px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;
}

#Mainslide .carousel-caption p {
  font-size: 22px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  margin-bottom: 100px;
  text-shadow: 1px 1px 7px black, -1px 1px 1px black, 1px -1px 1px black, -1px -1px 1px black;;
}


.carousel-indicators .active {
  background-color: rgb(77, 128, 210);
}

#textos {
  background-color: rgba(137, 43, 226, 0.349);
}

.card {
  cursor: pointer;
  margin-top: 35px;
}

.card-body {
  height: 300px;
}

.card-title {
  background-color:rgb(219, 219, 219)
}

#perfildecliente {
  height: 650px;
  background-color: rgba(187, 187, 187, 0);
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);

.textoanimado {
  background-image: url("https://i.pinimg.com/736x/9e/54/6e/9e546e513121d7131192f1ac1ac45e6e--samsung.jpg");
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: absolute;
  top: 485%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  white-space: nowrap;
  background-position: 50% 50%;
  background-repeat: repeat;
  text-align: center;
  text-transform: uppercase;
  font: 60px Sans, impact;
}

.faq {
  color: rgb(180, 167, 167);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 45px;
}

#icones-geral {
  margin-top: -500px;
  padding: 40px;
  padding-top: none;
}

#icones-geral p, h2 {
  
  text-align: center;
  font-family:Arial,sans-serif;
  color: whitesmoke;

}

img.icone {
  max-width: 150px;
  margin:0 auto;
  display: block
}

#garantia {
  background-color: rgb(216, 216, 216);
  height: 300px;
}

.texto-garantia {
  margin-left: 100px;
  margin-top: 70px;
}

.img-garantia {
 margin-left: 150px;
 margin-top: 50px;
}

#compra {
 height: 600px;
 background-color: blueviolet;
}

.img-logo3 {
  margin-left: 530px;
  margin-top: 50px;
}

#geral-preco {
  margin-top: 25em;
}

#preco {
padding: 0;
margin-top: -370px;
font-family:'Times New Roman', Times, serif;
color:rgb(114, 223, 250)
}

.pparte1 {
  margin-top: 1.5em;
  margin-left: 520px;
  font-size: 1.2em;
}
.pparte1 p{
  margin-top: -0.9em;
}
.terceirop {
  padding-top: 0.4em;
  font-size: 1.5em;
  margin-left: -10px;
}

.pparte2 {
  margin-top: -1.4em;
  margin-left: 6.8em;
  font-size: 6em;
}

.text-box {
  margin-left: 35vw;
  margin-top: -30vh;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 19px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
  border: solid rgb(83, 83, 83) 1px;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: rgb(248, 223, 0);
  color: rgb(0, 0, 0);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

#cartoes {
  width: 600px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50em;
  position: relative;
  top: -110px;
  right: 70px;
}

#cartoes img{
  height: 30px;
  width: 550px;
  margin-left: 20px;
  margin-top: 10px;
}

#rodape {
  background-color: rgb(202, 200, 200);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:rgb(68, 68, 68) ;
}

.rodape-textos {
  padding-top: 35px;
}

#rodape h4 {
  text-align: center;
  font-size: 16px;
}

#rodape h5 {
  text-align: center;
  font-size: 14px;
  margin-bottom: 40px;
}

#desenvolvedor {
  color:rgb(202, 200, 200);
  font-size: 10px;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(175, 174, 174);
  text-align: center;
  padding-top: 5px;
}

@media only screen and (max-width: 768px) {
  html {
    padding: 0;
    margin: 0;
  }
  
  .body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  .principal {
    height: 250px;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }

  .class-curso {
    padding: 0;
    height: 100%;
    background-color: rgba(24, 24, 176, 0);
  }

  .img-logo1 {
    padding: 0px;
    width: 300px;
    margin-left: 40px;
    margin-top: 50px;
   }

  .img-logo2 {
    width: 200px;
    margin-top: 150px;
    margin-left: 100px;
  }
  
  .img-logo3 {
    width: 200px;
    margin-top: 150px;
    margin-left: 100px;
  }

  #total {
    height: 24px;
  }

  .video {
    height: 200px;
  }

  .telacombotao {
    height: 400px;
    box-shadow: inset 0 180px 20px -10px rgb(58, 58, 58);                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      
  }

  .escrita {
    position: relative;
    top: 170px;
  }

  #cartoes2 {
    width: 300px;
    height: 45px;
    background-color: rgb(255, 255, 255);
    border-radius: 50em;
    position: relative;
    top: 300px;
    left: 45px;
  }

  #cartoes2 img{
    height: 20px;
    width: 270px;
    margin-left: 15px;
    margin-top: 15px;
  }

  #cartoes {
    width: 300px;
    left: 25px;
  }

  #cartoes img{
    height: 20px;
    width: 270px;
    margin-left: 15px;
    margin-top: 15px;
  }

  .redes-socias {
    height: 35px;
    margin-left: 20px;
    text-align: center;
  }

  #Mainslide .corousel-inner, #Mainslide .carousel-item {
    height: 40vh;
  }
  
  #Mainslide .carousel-caption {
   top: 25%;
  }
  
  #Mainslide .carousel-caption h2 {
    font-size: 23px;
    margin-bottom: 5px;
  }
  
  #Mainslide .carousel-caption p {
    font-size: 7px;
    font-weight: 150;
    color: white;
    margin-bottom: 50px;
  }
  
  .carousel-indicators .active {
    background-color: rgb(77, 128, 210); 
  }

  .faq {
    margin-top: 310px;
    margin-bottom: -220px;
  }

  #textos {
    padding: 0;
    height: 3200px;
    margin-top: -330px;
  }
  
  .card {
    padding: 0px;
    width: 250px;
    margin-top: 300px;
  }

  .card-body {
    overflow: auto;
    height: 400px;
  }

  .texto2, .texto3, .texto4, .texto5, .texto6 {
    margin-top: 0;
    margin-top: 20px;
  }

  .card-title {
    padding: 0px;
  }

  .textoanimado {
    font-size: 32px;
    font-weight: 900px;
    margin-top: 900px;
  }

  #garantia {
    height: 700px;
  }

  .texto-garantia {
    margin-left: 20px;
    margin-top: 70px;
  }
  
  .img-garantia {
   margin-left: 50px;
   margin-top: 50px;
  }

  #preco {
    padding: 0;
    margin-top: -370px;
    margin-left: -500px;
    font-family:'Times New Roman', Times, serif;
    color:rgb(114, 223, 250)
    }
  
  .pparte1 {
      margin-top: 1.5em;
      margin-left: 520px;
      font-size: 1.2em;
    }
  .pparte1 p{
      margin-top: -0.9em;
    }
  .terceirop {
      padding-top: 0.4em;
      font-size: 1.5em;
      margin-left: -10px;
    }
    
  .pparte2 {
      margin-top: -1.4em;
      margin-left: 6.8em;
      font-size: 6em;
    }

    .text-box {
      margin-left: 10vw;
      margin-top: -30vh;
    }
    
    .btn:link,
    .btn:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 10px 7px;
      display: inline-block;
      border-radius: 100px;
      transition: all .2s;
      position: absolute;
      border: solid rgb(83, 83, 83) 1px;
    }
    
    .btn:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    .btn:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }
    
    .btn-white {
      background-color: rgb(248, 223, 0);
      color: rgb(0, 0, 0);
    }
    
    .btn::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s;
    }
    
    .btn-white::after {
      background-color: #fff;
    }
    
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
    
    .btn-animated {
      animation: moveInBottom 5s ease-out;
      animation-fill-mode: backwards;
    }
    
    @keyframes moveInBottom {
      0% {
          opacity: 0;
          transform: translateY(30px);
      }
    
      100% {
          opacity: 1;
          transform: translateY(0px);
      }
    }
}
